<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>dashboard</title>
</head>
<body>
  <div class="container">
    <div class="rows">
      <div class="col-md-6">
        <h1>YOU ARE AUTHENTICATED</h1>
      </div>
      <div class="col-md-6">
        <a href="/api/logout" class="btn red darken-1">
        Logout
      </a>
      </div>
    </div>
  </div>
</body>
</html>