<h1>DASHBOARD</h1>
<p>Welcome to the Dashboard</p>

{{#if user}}
<p><h3>Welcome {{user.firstname}}</h3></p>
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}